/* Shared content*/
html * {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    height: 30px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    font-weight: 600;
}

.header-nav {
    width: 70px;

    cursor: pointer;
    user-select: none;
}

#app-title {
    cursor: pointer;
    user-select: none;
}

main {
    overflow-y: hidden;
}

footer {
    margin: 15px auto;

    text-align: center;
    font-weight: 300;
}

.main-content-container {
    margin: 0 auto;
    max-height: 9999px;

    text-align: center;

    transition: opacity 0.75s ease, max-height 0s linear 0s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.main-content-container.hidden {
    max-height: 0;
    transition: opacity 0.75s ease, max-height 0s linear 0.75s;
}

/* Spinner */
#spinner {
    margin-top: -15px;
    padding: 20px;
    transition: margin-top 0s linear 0.75s, padding 0s linear 0.75s;
}
#spinner.hidden {
    margin-top: 0;
    padding: 0;
    transition: margin-top 0s linear 0s, padding 0s linear 0s;

}

/* Image List */

.image-list-image-container {
    margin: 15px auto;
    padding: 7.5px 7.5px 30px 7.5px;
    border: 2px solid #efefef;
    max-width: 90%;

    text-align: center;

    cursor: pointer;
}

.image-list-image-container:first-child {
    margin-top: 0;
}

.image-list-image {
    max-width: 100%;
}

#photo-details {
    margin-top: -15px;
}

#favorites-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    text-align: left;
}

.comment {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.username {
    font-weight: 500;
}
